# editors
/.vscode
/.vs
/.idea

# CMake stuff
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# CTest & testing
/ParseAndAddCatchTests.cmake
/DartConfiguration.tcl
/matrix

# CMake stuff on Windows
/Debug
/x64
/matrix.dir
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
